* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    background-color: $color-bg;
}

html {
    position: relative;
    min-height: 100vh;
    padding-bottom: 77px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

//Navigation
.navbar {
    background-color: $color-white !important;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    .logo {
        color: $color-primary !important;
        font-family: $font-secondary;
        font-weight: bold;
    }

    .nav-link:hover {
        color: $color-primary !important;
        text-decoration: underline;
    }

    .dropdown-item:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

//Footer
footer {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $color-link-grey;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;

    .logo-footer {
        color: $color-primary;
        font-size: 1.3rem;
        font-family: $font-secondary;
        font-weight: bold;
    }

    .social-container {
        display: flex;
        margin: 0;
    }

    .social-link {
        font-size: 1.5rem;
        color: $color-link-grey;

        &:hover {
            color: $color-primary;
        }
    }

    p {
        margin: 0;
    }
}

//Buttons
.button {
    display: inline-block;
    padding: 0.8rem 2.2rem;
    background-color: $color-primary;
    color: $color-white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 3px 8px #888888c9;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.1s;
    margin: 2rem 0;

    &:hover {
        top: -5px;
        background-color: $color-primary-hover;
        color: $color-white;
        box-shadow: 0 6px 8px #88888894;
    }
}

.button-secondary {
    background-color: $color-white;
    color: $color-primary;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.467);

    &:hover {
        text-decoration: underline;
        box-shadow: 0 6px 8px #00000094;
        background-color: $color-white;
        color: $color-primary;
    }
}

//Flex box
.flex-mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

//error
.error {
    padding: 1rem 2rem;
    background-color: $color-warning-red;
    color: $color-white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

//loader
.loader {
    border: 16px solid #e4e4e4;
    border-top: 16px solid $color-primary;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-container {
    width: 100%;
    height: 20rem;
}

//wrapper
.wrapper {
    width: 80%;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//Media Queries
@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        padding: 1.5rem 0;

        .logo-footer {
            margin-bottom: 1.2rem;
        }

        .social-container {
            margin-bottom: 1.2rem;
        }
    }

    html {
        padding-bottom: 180px;
    }

    .wrapper {
        width: 98%;
    }
}