//Fonts
$font-primary: 'Roboto',
sans-serif;

$font-secondary: 'Lato',
sans-serif;

//Colours
$color-primary: #F25D07;
$color-hover-dark: #AA440A;
$color-bg: #F6F6F6;
$color-text-grey: #787878;
$color-white: #FFFFFF;
$color-warning-red: #F91717;
$color-success-green: #1FB242;
$color-link-grey: #858585;
$color-primary-hover: #AA440A;